body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color:rgb(11, 11, 11);
  width: 100%;
  padding: 20px;
  margin-top: 100px;
}
#allFooter{
  width: 100%;
}
.list-footer{
  padding: 15px;
  font-size: 18px;
  color: white;
  
  
}
.footer img{
  z-index: 1;
  border-radius: 50%;
}
.logo-footer{
    width: 150px;
    margin-top: 50px;
}

.list-footer-high{
  font-weight: bold;
  color: orangered;
  font-size :30px;;
  border-bottom: 1px solid rgb(176, 173, 173);
  padding: 5px;
  list-style-type: none;
}
.list-footer{
    list-style-type: none;
}
.list-footer1 li:hover{
  color: orange;
}
.list-footer2 li:hover{
  color: orange;
}  