/* ------------------------------------- Register Page ------------------------------------ */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #f0f0f0; */
}

.register-page {
    z-index: 10;
    height: 100vh;
}

.register-title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.register-box {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 28.458px;
    border: 2.134px solid rgba(168, 171, 175, 0.49);
    background: rgba(168, 195, 230, 0.49);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 15px #0a0f3b;
    overflow-y: auto;
}

.esc-register {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.esc-register :hover {
    transform: scale(1.2);
    color: #fff;
}

.esc-register:active {
    transform: scale(1.1);
}

.email-label-register,
.password-label-register {
    display: inline-block;
    margin-top: 16px;
}

.form-register-top {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.form-register-foot {
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.register-submit-background {
    width: 50%;
    padding-left: 50px;
}

.register-box input {
    margin-top: 10px;
    display: flex;
    width: 200px;
    height: 32px;
    padding: 16px;
    align-items: center;
    gap: 10px;
    border: 2px solid #fff;
    transition: 0.3s;
}

/* AI */
/* .register-box select {
    margin-top: 10px;
    display: flex;
    width: 200px;
    height: 32px;
    padding: 16px;
    align-items: center;
    gap: 10px;
    border: 2px solid #fff;
    transition: 0.3s;
  } */

.form-register-right,
.form-register-left {
    width: 45%;
    margin-left: 50px;
}

.form-register-left {
    border-right: 1px solid;
}

.register-submit {
    display: flex;
    flex-wrap: nowrap;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7.115px;
    background: #3d3e3f;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.login-inregister {
    width: 50%;
    padding-left: 50px;
}

.register-box .login-btn {
    color: #fff;
    font-size: 1.6rem;
    border-bottom: none;
    margin-left: 10px;
}

.register-box input:focus {
    border: 2px solid var(--success-color);
    background-color: #d8f3ff;
}

.register-box input.error {
    border: 2px solid var(--error-color);
}

.register-error {
    margin-top: 5px;
    font-size: 1.4rem;
    color: var(--error-color);
}

.login-admin-sucess,
.login-success,
.overlay .register-success {
    z-index: 120;
}

.login-success-box,
.register-success-box {
    width: 800px;
    background-color: #fff;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    text-align: center;
    vertical-align: middle;
    transition: 1s;
    z-index: 220;
}

.fa-circle-check {
    font-size: 50px;
    color: #12d823;
}

.success-title {
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
}

.success-btn {
    width: 200px;
    padding: 20px;
    font-size: 30px;
    padding: 20px;
    border: 2px solid #0099ff;
    border-radius: 10px;
    margin: 20px auto 0;
    background-color: #43b4ff;
    cursor: pointer;
}

.login-success .success-btn,
.login-admin-sucess .success-btn {
    width: 300px;
}

#phone::-webkit-inner-spin-button,
#phone::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}